<ion-header class="titleheader" [translucent]="true">
  <ion-toolbar>
    <ion-title> <div class="logoTitle"> 
      <img class="logoPic" src="../../assets/images/kryptoslogo.png" alt="logo" srcset="">
      <h1 class="logoheader">KRYPTOS</h1>   </div> </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">

<div class="softwareUsed">
  <img src="../../assets/images/oursoftware-removebg.png" class="oursoftware" alt="oursoftware" srcset="">
  </div>

  <ion-card class="cardBox" style="background: url('../../assets/images/ANGULAR.jpg'); background-size: cover; background-position: center; height: 200px;opacity:0.7">
    <ion-card-header>
      <ion-card-title><h1 class="cardHeader">ANGULAR</h1></ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ioncardcontent">
     <p class="cardWord"> Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="cardBox" style="background: url('../../assets/images/reactlogo.png'); background-size: cover; background-position: center; height: 200px;opacity:0.7">
    <ion-card-header>
      <ion-card-title><h1 class="cardHeader">React</h1></ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ioncardcontent">
      <p class="cardWord"> ReactJS is a free and open-source front-end JavaScript library for building user interfaces based on components</p>
    </ion-card-content>

  </ion-card>
  <ion-card class="cardBox" style="background: url('../../assets/images/KryptosPowerapps.png'); background-size: cover; background-position: center; height: 200px;opacity:0.7">
    <ion-card-header>
      <ion-card-title><h1 class="cardHeader">PowerApps</h1></ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ioncardcontent">
      <p class="cardWord"> Power Apps is a suite of apps, services, and connectors, as well as a data platform, that provide…
      Apps built using Power Apps provide rich business logic and workflow capabilities to transform your manual business operations into digital, automated processes</p>
    </ion-card-content>

  </ion-card>
</ion-content>
